$body-bg: #1c1c1e;
$main-color: #ff0000;
$txt-color: #989898;
$bg-color: #333335;

$white: #fff;
$black: #000;

$box-shadow: rgba(28, 28, 30, 0.2) 0px 7px 29px 0px;

$sidebar-width: 290px;
$sidebar-collapse-width: 70px;
$similar-sidebar-width: 310px;
$watch-sidebar-width: 26%;

$header-height: 8rem;
$header-shrink-height: 5rem;

$border-radius: 10px;
$border-radius-30: 30px;

$mobile-width: 624px;
$tablet-width: 1024px;

$font-family: 'Montserrat', sans-serif;
